
.vs/ProjectEvaluation/openmacroboard.sdk.projects.v6.1
.vs/ProjectEvaluation/openmacroboard.sdk.metadata.v6.1
.vs/OpenMacroBoard.SDK/v17/.suo
.vs/OpenMacroBoard.SDK/FileContentIndex/read.lock
.vs/OpenMacroBoard.SDK/FileContentIndex/93c2f7ba-5c8b-43b4-8060-0750d412f18a.vsidx
.vs/OpenMacroBoard.SDK/FileContentIndex/d0364484-1ca2-4fdb-b51a-c85a8e6255e7.vsidx
*.vsidx
*.v2
